* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

ul, ol, li {
  list-style: none;
}

path {
  fill: #776B5D;
}

span {
  display: inline-block;
}

input {
  outline: none;
}

.btn {
  border: 1px solid #776B5D;
  border-radius: 30px;
  background: #F3EEEA;
  padding: 5px 10px;
  outline: none;
}

.content {
  height: calc(100vh - 92px);
  overflow: hidden;
}

.displayNone {
  display: none;
}